@{
    ViewBag.Title = "用户登录";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<style>
    table {
        margin: 0px auto;
        width: 300px;
        height: 150px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -150px;
        margin-top: -75px;
    }

    .input {
        width:150px;
    }
</style>

<table>
    <tr>
        <td>用户名：</td>
        <td>
            <input type="text" id="txtUserName" class="input" value="@ViewBag.UserName"/>
        </td>
    </tr>
    <tr>
        <td>密&nbsp;&nbsp;码：</td>
        <td>
            <input type="password" id="txtPassword" class="input" value="@ViewBag.Password"/>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <label for="cbIsRemember">
                <input type="checkbox" id="cbIsRemember" checked="@((bool)ViewBag.IsRemember)"/>记住密码
            </label>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="button" id="btnLogging" value="登录" onclick="login()"/>
        </td>
    </tr>
</table>

<script>
    document.onkeydown = function (event) {
        var e = event || window.event; //兼容ie
        if (e.keyCode == 13) {
            $("#btnLogging").click();
        }
    };

    function login() {
        $.ajax({
            type: "post",
            url: "@Url.Action("Logging")",
            dataType: "json",
            data: { userName: $("#txtUserName").val(), password: $("#txtPassword").val(), isRemember: $('#cbIsRemember').is(":checked") },
            success: function (data) {
                if (data.Status) {
                    window.location.href = "@Url.Action("ListDemo","Demo")";
                }
                else {
                    alert(data.Message);
                }
            }
        });
    }
</script>

