@{
    ViewBag.Title = "用户登录";
    Layout = "~/Views/Shared/_LayoutWithOutNav.cshtml";
}

<style>

    /*web background*/
    .container {
        display: table;
        height: 100%;
    }

    .row {
        display: table-cell;
        vertical-align: middle;
    }
    /* centered columns styles */
    .row-centered {
        text-align: center;
    }

    .col-centered {
        display: inline-block;
        float: none;
        text-align: left;
        margin-right: -4px;
    }
</style>

<div class="container">
    <div class="row row-centered">
        <div class="well col-md-3 col-centered">
            <form class="form-horizontal login1" role="form">
                <div class="form-group">
                    <div class="input-group input-group-md">
                        <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" id="txtUserName" value="@ViewBag.UserName" placeholder="请输入用户名" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-md">
                        <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" id="txtPassword" value="@ViewBag.Password" placeholder="请输入密码" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-md checkbox-custom checkbox-default" style="margin-left:40px">
                        <input type="checkbox" id="cbIsRemember" value="记住密码" checked="@ViewBag.IsRemember" />
                        <label for="cbIsRemember">记住密码</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-md col-lg-4" style="margin-left:40px">
                        <input type="button" id="btnLogging" class="btn btn-primary btn-block" value="登录" onclick="login()" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.onkeydown = function (event) {
        var e = event || window.event; //兼容ie
        if (e.keyCode == 13) {
            $("#btnLogging").click();
        }
    };

    function login() {
        $.ajax({
            type: "post",
            url: "@Url.Action("Logging")",
            dataType: "json",
            data: { userName: $("#txtUserName").val(), password: $("#txtPassword").val(), isRemember: $('#cbIsRemember').is(":checked") },
            success: function (data) {
                if (data.Status) {
                    window.location.href = "@Url.Action("Index","Home")";
                }
                else {
                    $("#txtPassword").val("");
                    layer.alert(data.Message, { icon: 2 });
                }
            }
        });
    }
</script>

