@model WebSite.Areas.ClothYardManagement.Data.MeterSampleModel

@{
    ViewBag.Title = "打印米样单";
    Layout = "~/Views/Shared/_LayoutWithOutNav.cshtml";
}

<style>
    table tr {
        height: 40px;
    }

    table td {
        border:1px solid black;
    }

    .tableborder {
        border: 1px solid black;
    }

    .layui-form-label {
        width: 80px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

    .headDiv {
        float: left;
        vertical-align: bottom;
        height: 50px;
        line-height: 50px;
    }

    .layui-form-item {
        height: 30px;
        line-height: 30px;
    }

    .h20 {
        height: 20px;
        line-height: 20px;
    }
</style>

<div style="text-align:right;margin-right:200px" class="mt-20" id="noprint">
    <button class="btn btn-primary btn-lg" onclick="prints()">打印</button>
    <button class="btn btn-primary btn-lg" onclick="window.close();">关闭</button>
</div>

<div class="ml-20" id="printDiv">
    <div class="layui-form-item mt-20" style="text-align:center;">
        <div class="headDiv" style="font-size: xx-large;padding-left:450px" ondblclick="ShowFactoryNameEdit()">
            <label id="lblFactoryName">睿锦纺织</label>
            <input type="text" id="txtFactoryName" value="睿锦纺织" style="display:none" onfocus="this.select();" onblur="ShowFactoryNameLabel()" />
        </div>
        <div class="headDiv" style="font-size: large; padding-left:50px">销售单</div>
    </div>
    <div class="layui-form-item" style="margin-bottom:5px">
        <div class="layui-inline">
            <label class="layui-form-label">客户：</label>
            <div class="layui-input-block mt-5" style="margin-bottom:0px">
                <label>@Model.CustomerName</label>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="width:100px">报单时间：</label>
            <div class="layui-input-block  mt-5" style="margin-bottom:0px">
                <label>@Model.DeliveryTime</label>
            </div>
        </div>
    </div>
    <div class="layui-form-item" style="width:100%; text-align:center;">
        <table class="tableborder table-bordered" style="height: 500px; position: absolute">
            <tr>
                <td style="width:200px"><label>品名</label></td>
                <td style="width:150px"><label>颜色</label></td>
                <td style="width:150px"><label>门幅</label></td>
                <td style="width:150px"><label>克重</label></td>
                <td style="width:150px"><label>单价</label></td>
                <td style="width:150px"><label>长度</label></td>
                <td style="width:150px"><label>金额</label></td>
            </tr>
            @{
                decimal totalLength = 0;
            }
            @for (int i = 0; i < 10; i++)
            {

                if (Model.MeterSampleList != null && Model.MeterSampleList.Count > i)
                {
                    <tr>
                        <td>
                            <label>@Model.MeterSampleList[i].ClothTypeName</label>
                        </td>
                        <td>
                            <label>@Model.MeterSampleList[i].Colour</label>
                        </td>
                        <td>
                            <label>@Model.MeterSampleList[i].Width</label>
                        </td>
                        <td>
                            <label>@Model.MeterSampleList[i].GramWeight</label>
                        </td>
                        <td>
                            <label>@Model.MeterSampleList[i].UnitPrice</label>
                        </td>
                        <td>
                            <label>@Model.MeterSampleList[i].Length</label>
                        </td>
                        <td>
                            <label>@(Math.Round(Model.MeterSampleList[i].Length*Model.MeterSampleList[i].UnitPrice,2))</label>
                        </td>
                    </tr>
                    totalLength = totalLength + Model.MeterSampleList[i].Length;
                }
                else
                {
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            }
            <tr>
                <td>本单合计</td>
                <td colspan="4"></td>
                <td colspan="1"><label>@totalLength 米</label></td>
                <td><label>@Model.MeterSampleBill.TotalPrice</label></td>
            </tr>
        </table>
    </div>
    <div class="layui-form-item h20" style="margin-top: 480px;margin-bottom:0px">
        <div class="layui-inline" style="margin-bottom:0px">
            地址：浙江绍兴柯桥轻纺城
        </div>
        <div class="layui-inline" style="margin-left: 210px; margin-bottom: 0px">
            联系电话：<span>15715838772</span>   <span class="ml-10">18827426180</span>
        </div>
    </div>
    <div class="layui-form-item h20" style="margin-bottom:0px">
        <div class="layui-inline" style="margin-bottom: 0px">
            农业银行：62284 8037 92379 94973 杨爱平
        </div>
        <div class="layui-inline" style="margin-left: 100px; margin-bottom: 0px">
            工商银行：621558 3202003957490 张宇飞
        </div>
    </div>
    <div class="layui-form-item h20">
        <div class="layui-inline">
            尊敬的客户：感谢您选购我公司产品，如发现质量问题，请在7日内提出与我们协商解决，如果剪开或深加工，本公司概不负责，谢谢合作！
        </div>
    </div>
</div>

<script>
    function ShowFactoryNameEdit() {
        $("#lblFactoryName").hide();
        $("#txtFactoryName").show();
        $("#txtFactoryName").focus();
    }

    function ShowFactoryNameLabel() {
        $("#lblFactoryName").html($("#txtFactoryName").val());
        $("#lblFactoryName").show();
        $("#txtFactoryName").hide();
    }

    function prints() {
        $("#noprint").hide();
        //var printElement = document.getElementById("printDiv");
        document.getElementsByTagName('body')[0].style.zoom = 0.85;
        window.print();
        document.getElementsByTagName('body')[0].style.zoom = 1.0;
        $("#noprint").show();
    }
</script>

