@model List<Entities.View_MeterSampleList>

@{
    ViewBag.Title = "PrintStatement";
    Layout = "~/Views/Shared/_LayoutWithOutNav.cshtml";
}

<style>
    table tr {
        height: 40px;
    }

    table td {
        padding-left: 5px;
        border: 1px solid black;
    }

    /*    .tableborder {
        border: 1px solid black;
    }*/

    .layui-form-label {
        width: 80px;
    }
</style>

<div style="text-align:right;margin-right:200px" class="mt-20" id="noprint">
    <button class="btn btn-primary btn-lg" onclick="prints()">打印</button>
    <button class="btn btn-primary btn-lg" onclick="window.close();">关闭</button>
</div>

<div>
    <table class="tableborder ml-15" style="font-size:medium;text-align:left" cellpadding="0" cellspacing="0">
        <thead>
            <tr style="text-align:center">
                <td style="width:120px;padding-left:0px">客户</td>
                <td style="width: 120px; padding-left: 0px">发货日期</td>
                <td style="width: 100px; padding-left: 0px">品名</td>
                <td style="width: 110px; padding-left: 0px">颜色</td>
                <td style="width: 80px; padding-left: 0px">幅宽</td>
                <td style="width: 80px; padding-left: 0px">克重</td>
                <td style="width: 100px; padding-left: 0px">单价</td>
                <td style="width: 100px; padding-left: 0px">长度(米)</td>
                <td style="width: 100px; padding-left: 0px">总价（元）</td>
            </tr>
        </thead>
        @{
            decimal? totalPriceAll = 0;
        }
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        <label>@Model[i].CustomerName</label>
                    </td>
                    <td>
                        <label>@(Model[i].DeliveryTime != null ? Model[i].DeliveryTime.Value.ToString("yyyy-MM-dd"):"")</label>
                    </td>
                    <td>
                        <label>@Model[i].ClothTypeName</label>
                    </td>
                    <td>
                        <label>@Model[i].Colour</label>
                    </td>
                    <td>
                        <label>@Model[i].Width</label>
                    </td>
                    <td>
                        <label>@Model[i].GramWeight</label>
                    </td>
                    <td>
                        <label>@Model[i].UnitPrice</label>
                    </td>
                    <td>
                        <label>@Model[i].Length</label>
                    </td>
                    <td>
                        <label>@Math.Round((Model[i].UnitPrice * Model[i].Length).Value, 2)</label>
                    </td>
                </tr>
                totalPriceAll = totalPriceAll + Model[i].UnitPrice * Model[i].Length;
            }
            <tr>
                <td>合计</td>
                <td colspan="7"></td>
                <td colspan="2">总价：<label>@Math.Round(totalPriceAll.Value, 2) 元</label></td>
            </tr>
        </tbody>
    </table>
</div>


<script>
    function prints() {
        $("#noprint").hide();
        //var printElement = document.getElementById("printDiv");
        //document.getElementsByTagName('body')[0].style.zoom = 0.85;
        window.print();
        //document.getElementsByTagName('body')[0].style.zoom = 1.0;
        $("#noprint").show();
    }
</script>