<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/js")
</head>
<body>
    <div>
        <ul class="nav pull-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:#000000">
                    "你的用户名" &nbsp;<span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-usermenu purple">
                    <li><a href="@Url.Action("Logout","User")"><i class="glyphicon glyphicon-off" style="margin-right:10px" ;></i><span>注销</span></a></li>
                </ul>
            </li>
        </ul>
        <h1 class="head"><strong>健康元X系统</strong></h1>
    </div>
    <div style="width:200px;float:left">
        @Html.Partial("Nav")
    </div>
    <div style="width:100%;float:left;">
        @RenderBody()
    </div>
</body>
</html>
