<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/js")
</head>

<body>
    <div class="auto-layout" id="layoutMain" style="width: 100%;" options="{leftWidth: 205, topHeight:100}">
        <div position="top" style="height:100px;">
            @Html.Partial("Head")
        </div>
        <div position="left" style="overflow:auto;height:100%">
            @Html.Partial("Nav")
        </div>
        <div position="center" style="overflow:auto;height:100%">
            @RenderBody()
        </div>
        @*<div position="bottom">
            <div class="bg-primary h-50"></div>
        </div>*@
    </div>
</body>
</html>

<script type="text/javascript">
    $(function () {
        $("#layoutMain").each(function () {
            var options = eval('(' + $(this).attr('options') + ')');
            var opts = $.extend({
                //height: '98%',
                heightDiff: -3,
                leftWidth: 200,
                space:0
            }, options || {});
            $(this).ligerLayout(opts);
        });
    });
</script>
