<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/js")
</head>

<body>
    <div class="auto-layout" style="width: 99.6%;margin-left: 2px;margin-top: 3px;" options="{leftWidth: 205, topHeight:100}">
        <div position="top" style="height:100px">
            @Html.Partial("Head")
        </div>
        <div position="left" style="overflow:auto;">
            @Html.Partial("Nav")
        </div>
        <div position="center" id="mainContent">
            @RenderBody()
        </div>
        @*<div position="bottom">
            <div class="bg-primary h-50"></div>
        </div>*@
    </div>
</body>
</html>

<script type="text/javascript">
    $(function () {
        $("div.auto-layout").each(function () {
            var options = eval('(' + $(this).attr('options') + ')');
            var opts = $.extend({
                //height: '99%',
                heightDiff: -2,
                leftWidth: 200
            }, options || {});
            $(this).ligerLayout(opts);
        });
    });
</script>
