@model WebSite.Areas.ClothYardManagement.Data.ClothYardModel

<style>
    table tr{
        height:40px;
    }
    table td {
        width: 80px;
    }
    .layui-form-label {
        width: 80px;
    }
    .inputWidth {
        border:1px solid black;
        width: 80px;
    }

    .blackinput {
        border: 1px solid black;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
</style>

<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">客户：</label>
        <div class="layui-input-block">
            @if (Model.IsEdit)
            {
                @Html.DropDownListFor(d => d.CustomerId, Model.CustomerList as List<SelectListItem>,
                new Dictionary<string, object> { { "class", "layui-input" }, { "lay-search", "" }, { "lay-verify", "required" }, { "disabled", "disabled" } })
            }
            else
            {
                @Html.DropDownListFor(d => d.CustomerId, Model.CustomerList as List<SelectListItem>,
                new Dictionary<string, object> { { "class", "layui-input" }, { "lay-search", "" }, { "lay-verify", "required" } })
            }
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label" style="width:100px">报单时间：</label>
        <div class="layui-input-block">
            <input type="date" class="layui-input" lay-verify="required" id="ReportTime" value='@Model.ReportTime' name="ReportTime" style="height:30px;width:180px;">
        </div>
    </div>
</div>
<div class="layui-form-item" style="width:100%;" id="clothYardListDiv">
    <table class="table-bordered" style="overflow-x: scroll; height: 500px; position: absolute">
        <tr>
            <td style="display:none"></td>
            <td>品名</td>
            <td>颜色</td>
            <td>门幅</td>
            <td>克重</td>
            <td>单价</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td>单位</td>
            <td>备注</td>
            @*<td>总重</td>
            <td>金额</td>*@
            <td></td>
        </tr>
        @for (int i = 0; i < 10; i++)
        {
            var disabled = Model.IsEdit ? "disabled='disabled'" : "";
            if (Model.ClothYardList != null && Model.ClothYardList.Count > i)
            {
                <tr>
                    <td style="display:none">
                        <input type="text" name="clothYardId" value="@Model.ClothYardList[i].Id" />
                        <input type="text" name="IsDelivery" value="@(Model.ClothYardList[i].IsDelivery?"true":"false")" />
                        <input type="text" name="IsPaymentAll" value="@(Model.ClothYardList[i].IsPaymentAll?"true":"false")" />
                        <input type="text" name="IsDelete" value="@(Model.ClothYardList[i].IsDelete?"true":"false")" />
                        <input type="text" name="CreateBy" value="@Model.ClothYardList[i].CreateBy" />
                        <input type="text" name="CreateDate" value="@Model.ClothYardList[i].CreateDate" />
                        <input type="text" name="UpdateBy" value="@Model.ClothYardList[i].UpdateBy" />
                        <input type="text" name="UpdateDate" value="@Model.ClothYardList[i].UpdateDate" />
                        <input type="text" name="DeliveryTime" value="@Model.ClothYardList[i].DeliveryTime" />
                    </td>
                    <td>
                        @{
                            var clothTypeList = Model.ClothTypeList as List<SelectListItem>;
                            var clothType = clothTypeList.Where(d => d.Value == Model.ClothYardList[i].ClothType.ToString()).FirstOrDefault();
                            if (clothType != null)
                            {
                                clothType.Selected = true;
                            }
                        }
                        @Html.DropDownList("ClothTypeId", clothTypeList,
                        new Dictionary<string, object> { { "class", "layui-input" }, { "lay-search", "" } })
                    </td>
                    @*<td>
                        @{
                            var clothColourList = Model.ClothColourList as List<SelectListItem>;
                            var clothColour = clothColourList.Where(d => d.Value == Model.ClothYardList[i].ColourId.ToString()).FirstOrDefault();
                            if (clothColour != null)
                            {
                                clothColour.Selected = true;
                            }
                        }
                        @Html.DropDownList("Colour", clothColourList,
                        new Dictionary<string, object> { { "class", "layui-input" }, { "lay-search", "" } })
                    </td>*@
                    <td>
                        <input class="layui-input inputWidth" name="Colour" value="@Model.ClothYardList[i].Colour">
                    </td>
                    <td>
                        <input class="layui-input inputWidth" name="Width" type="number" value="@Model.ClothYardList[i].Width">
                    </td>
                    <td>
                        <input class="layui-input inputWidth" name="GramWeight" type="number" value="@Model.ClothYardList[i].GramWeight">
                    </td>
                    <td>
                        <input class="layui-input inputWidth" name="UnitPrice" type="number" value="@Model.ClothYardList[i].UnitPrice">
                    </td>
                    @{
                        string[] weight = { };
                        if (Model.ClothYardList[i].WeightList != null)
                        {
                            weight = Model.ClothYardList[i].WeightList.Split('，');
                        }
                    }
                    @foreach (var w in weight) 
                    {
                        <td>
                            <input class="layui-input inputWidth" name="Weight" type="number" value="@(w)">
                        </td>
                    }
                    @for (int n = 0; n < 10 - weight.Length; n++)
                    {
                        <td>
                            <input class="layui-input inputWidth" name="Weight" type="number" value="">
                        </td>
                    }
                    <td>KG</td>
                    <td>
                        <input class="layui-input blackinput" style="width:100px"  name="Remark" type="text" value="@Model.ClothYardList[i].Remark">
                    </td>
                    @*<td>
                        <input class="layui-input inputWidth" name="TotalWeight" type="number" value="@Model.ClothYardList[i].TotalWeight">
                    </td>
                    <td>
                        <input class="layui-input inputWidth" name="TotalPrice" type="number" value="@Model.ClothYardList[i].TotalPrice">
                    </td>*@
                    <td>
                        @if (i != 0)
                        {
                            <button type="button" lay-submit="" class="btn btn-primary" onclick="CopyPrevProperty(this)">规格同上</button>
                        }
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td style="display:none">
                        <input type="text" name="clothYardId" value="@Guid.NewGuid()" />
                        <input type="text" name="IsDelivery" value="" />
                        <input type="text" name="IsPaymentAll" value="" />
                        <input type="text" name="IsDelete" value="" />
                        <input type="text" name="CreateBy" value="" />
                        <input type="text" name="CreateDate" value="" />
                        <input type="text" name="UpdateBy" value="" />
                        <input type="text" name="UpdateDate" value="" />
                        <input type="text" name="DeliveryTime" value="" />
                    </td>
                    <td>
                        @{
                            var clothTypeList = Model.ClothTypeList as List<SelectListItem>;
                            var clothType = clothTypeList.Where(d => d.Selected).FirstOrDefault();
                            if (clothType != null)
                            {
                                clothType.Selected = false;
                            }
                        }
                        @if (Model.IsEdit)
                        {
                            @Html.DropDownList("ClothTypeId", clothTypeList,
                              new Dictionary<string, object> { { "class", "layui-input" }, { "lay-search", "" }, { "disabled", "disabled" } })
                        }
                        else
                        {
                            @Html.DropDownList("ClothTypeId", clothTypeList,
                              new Dictionary<string, object> { { "class", "layui-input" }, { "lay-search", "" } })
                        }
                    </td>
                    @*<td>
                        @{
                            var clothColourList = Model.ClothColourList as List<SelectListItem>;
                            var clothColour = clothColourList.Where(d => d.Selected).FirstOrDefault();
                            if (clothColour != null)
                            {
                                clothColour.Selected = false;
                            }
                        }
                        @if (Model.IsEdit)
                        {
                            @Html.DropDownList("Colour", clothColourList,
                            new Dictionary<string, object> { { "class", "layui-input" }, { "lay-search", "" }, { "disabled", "disabled" } })
                        }
                        else
                        {
                            @Html.DropDownList("Colour", clothColourList,
                            new Dictionary<string, object> { { "class", "layui-input" }, { "lay-search", "" } })
                        }

                    </td>*@
                    <td>
                        <input class="layui-input inputWidth" @disabled name="Colour"  value="">
                    </td>
                    <td>
                        <input class="layui-input inputWidth" @disabled name="Width" type="number" value="">
                    </td>
                    <td>
                        <input class="layui-input inputWidth" @disabled name="GramWeight" type="number" value="">
                    </td>
                    <td>
                        <input class="layui-input inputWidth" @disabled name="UnitPrice" type="number" value="">
                    </td>
                    @for (int n = 0; n < 10; n++)
                    {
                        <td>
                            <input class="layui-input inputWidth" @disabled name="Weight" type="number" value="">
                        </td>
                    }
                    <td>KG</td>
                    <td>
                        <input class="layui-input blackinput" style="width:100px"  name="Remark" type="text" value="">
                    </td>
                    @*<td>
                        <input class="layui-input inputWidth" name="TotalWeight" type="number" value="">
                    </td>
                    <td>
                        <input class="layui-input inputWidth" name="TotalPrice" type="number" value="">
                    </td>*@
                    <td>
                        @if (i != 0)
                        {
                            <button type="button" @disabled lay-submit="" class="btn btn-primary" onclick="CopyPrevProperty(this)">规格同上</button>
                        }
                    </td>
                </tr>
            }

        }
    </table>
</div>
<div class="layui-form-item" style="margin-top: 550px; margin-left: 300px; text-align: center;" >
    <div class="layui-input-block">
        <button type="button" class="btn btn-primary" onclick="Save()">保存</button>
    </div>
</div>

<script>
    layui.use(['form'], function () {
        var form = layui.form;
        form.render();
    });

    //js设置layui dropdownList样例
    function CopyPrevProperty(ele) {
        var prevTr = $(ele).parent().parent().prev();
        var thisTr = $(ele).parent().parent();
        var prevClothTypeId = $(prevTr).find("[name=ClothTypeId]").val();
        //var prevColour = $(prevTr).find("[name=Colour]").val();
        $(thisTr).find("[name=ClothTypeId]").val(prevClothTypeId);
        $(thisTr).find("[name=ClothTypeId]").next().find("input").click();
        $(thisTr).find("[name=ClothTypeId]").next().find("input").click();
        //$(thisTr).find("[name=Colour]").val(prevColour);
        //$(thisTr).find("[name=Colour]").next().find("input").click();
        //$(thisTr).find("[name=Colour]").next().find("input").click();
        $(thisTr).find("[name=Colour]").val($(prevTr).find("[name=Colour]").val());
        $(thisTr).find("[name=Width]").val($(prevTr).find("[name=Width]").val());
        $(thisTr).find("[name=GramWeight]").val($(prevTr).find("[name=GramWeight]").val());
        $(thisTr).find("[name=UnitPrice]").val($(prevTr).find("[name=UnitPrice]").val());
    }

    function Save() {
        var clothYardList = [];
        var trList = $(clothYardListDiv).find("table").find("tr");

        if ($("#CustomerId").val() == "") {
            ErrorMsg("请选择客户");
            return;
        }

        if ($("#ReportTime").val() == "") {
            ErrorMsg("请选择报单日期");
            return;
        }

        if ($(trList[1]).find("[name=ClothTypeId]").val().length <= 0 || $(trList[1]).find("[name=Colour]").val().length <= 0) {
            ErrorMsg("请从第一行开始填写布匹规格");
            return;
        }

        //第一行是表头，从第二行开始
        for (var i = 1; i < 11; i++) {
            var row = {};
            row.Id = $(trList[i]).find("input[name=clothYardId]").val();
            row.IsDelivery = $(trList[i]).find("input[name=IsDelivery]").val() == "true" ? "true " : "false";
            row.IsPaymentAll = $(trList[i]).find("input[name=IsPaymentAll]").val() == "true" ? "true " : "false";
            row.IsDelete = $(trList[i]).find("input[name=IsDelete]").val() == "true" ? "true " : "false";
            row.CreateBy = $(trList[i]).find("input[name=CreateBy]").val();
            row.CreateDate = $(trList[i]).find("input[name=CreateDate]").val();
            row.UpdateBy = $(trList[i]).find("input[name=UpdateBy]").val();
            row.UpdateDate = $(trList[i]).find("input[name=UpdateDate]").val();
            row.DeliveryTime = $(trList[i]).find("input[name=DeliveryTime]").val();
            row.CustomerId = $("#CustomerId").val();
            row.ClothType = $(trList[i]).find("[name=ClothTypeId]").val();
            row.Remark = $(trList[i]).find("[name=Remark]").val();

            //有未选规格行中断
            if (row.ClothType == "") break;
            row.Colour = $(trList[i]).find("[name=Colour]").val();
            var weightList = $(trList[i]).find("[name=Weight]");
            var totalWeight = 0;
            for (var m = 0; m < weightList.length; m++) {
                //填写了才加上
                if ($(weightList[m]).val() != "") {
                    //totalWeight += parseFloat($(weightList[m]).val());
                    totalWeight += Number($(weightList[m]).val());
                    if (row.WeightList) {
                        row.WeightList += "，" + $(weightList[m]).val();
                    }
                    else {
                        row.WeightList = $(weightList[m]).val();
                    }
                }
            }

            row.Width = $(trList[i]).find("[name=Width]").val();
            row.GramWeight = $(trList[i]).find("[name=GramWeight]").val();
            row.UnitPrice = $(trList[i]).find("[name=UnitPrice]").val();
            if (row.UnitPrice == "") {
                ErrorMsg("请填写第" + i + "行单价");
                return;
            }
            row.TotalWeight = totalWeight;
            row.TotalPrice = totalWeight * row.UnitPrice;
            row.ReportTime = $("#ReportTime").val();

            clothYardList.push(row);
        }
        var aa = JSON.stringify(clothYardList);

        $.ajax({
            url: "@Url.Action("Save")",
            type: "post",
            dataType: "json",
            data: { clothYardList: JSON.stringify(clothYardList) },
            success: function (result) {
                AjaxComplete(result, function () { window.parent.layer.closeAll(); });
            }
        });
    }
</script>